body {
  background-color: red;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.custom-card {
  width: 60%;
}
.to {
  position: absolute;
  top: 38px;
  left: 15px;
}
.from {
  position: absolute;

  right: 15px;
  bottom: 0px;
}
.left-lamp {
  height: 70px;
  top: -40px;
}
.right-lamp {
  height: 70px;
  top: -40px;
  right: 1px;
}
.lamp {
  height: 50px;
  bottom: -150px;
  right: 18px;
}
.theme-orange {
  background-color: orange !important;
  color: dark !important;
}
.theme-red {
  background-color: red !important;
  color: #fff !important;
}
.theme-blue {
  background-color: blue !important;
  color: white !important;
}
@media (max-width: 768px) {
  .custom-card {
    width: 100% !important;
  }
  .lamp {
    height: 40px;
    bottom: -240px;
    right: 135px;
  }
  .left-lamp {
    height: 50px;
    top: -40px;
  }
  .right-lamp {
    height: 50px;
    top: -40px;
    right: 1px;
  }
}
